---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Privacy Policy</h1>
    <h2>1. Collection of Personal Information</h2>
    <p>
      We do not collect any information that qualifies as personal information
      in this application.
    </p>
    <h2>2. Changes to the Privacy Policy</h2>
    <p>
      This privacy policy is subject to change without notice due to changes in
      laws, regulations, or policies. In the event of any changes, we will
      provide appropriate notification on this application or on our official
      website.
    </p>
    <h2>3. Contact Information</h2>
    <p>
      If you have any questions or concerns about privacy, please reach out to
      us using the contact information provided.
    </p>
    <p>support@ikep.dev</p>
  </main>
</Layout>

<style>
  body {
    display: flex;
    justify-content: center;
  }
  main {
    max-width: 992px;
    padding: 40px 24px;
  }
  h1 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  h2 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  p {
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 992px) {
    main {
      padding: 60px 36px;
    }
    h1 {
      font-size: 28px;
      margin-bottom: 40px;
    }
    h2 {
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 18px;
    }
    p {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
</style>
